@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@200&family=Special+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan&family=Special+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #f4f4f4;
}
.cabeçalho{
   display: flex;
    justify-content: left;
    max-width: 565px;
    padding: 1.5rem;
}
.cabeçalho img{
    width: 90px;
    padding: 1.3rem;
}
.cabeçalho p{
    text-align: left;
    padding-left: 1.3rem;
    font-family: "League Spartan", sans-serif;
}
.conteudo_livro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}
.conteudo_livro img{
    margin-bottom: -30px;
}
.LegendaConteudo_livro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:400px;
}
.LegendaConteudo_livro h4{
    text-align: left;
    color: #268dc6;
    padding-bottom: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.LegendaConteudo_livro h1{
    max-width: 400px;
    text-align: justify;
    padding-bottom: 1rem;
    font-family: Verdana, Tahoma, sans-serif;
}
.LegendaConteudo_livro P{
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-align: justify;
}
.LegendaConteudo_livro input[type="button"] {
    padding: 10px 20px ;
    background-color: #f06829;
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
    }
.celebrate{
    padding: 2.5rem 30% 0;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.celebrate h1{
    text-align: center;
    padding-bottom: 1rem;
}
.celebrate p{
    line-height: 1.5rem;
    font-size:x-small;
    margin-bottom: 0;
    padding-bottom: 0;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 0;
}
.list h4{
    color: #268dc6;
    padding-left:8rem ;
    padding-bottom: 1rem;
}
.list ul {
    list-style: none; 
    padding-left: 0;
    padding-bottom: 3rem;
}
.list ul li::before {
    content: "✔";
    color: #268dc6;
    margin-right: 8px; 
}
.share{
    display: flex;
}
.share p{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.share img{
    width:64px;
}
.formulario_geral{
    background-color: #f2f6f6;
}
.tituloForm {
    background-color: #268dc6;
    max-width: 100%;
    padding: 4rem;
    margin: 0;
    color: #ffffff;
    font-size: larger;
    display: flex;
}
.tituloForm h3 {
    margin: 0 auto;
    max-width: 450px;
}
.formulario {
    padding: 2rem 2rem 1rem;
    background-color: #ffffff;
    max-width: 600px;
    margin:-2.5rem auto 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
form label {
    font-weight: 600; 
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
form select{
    margin-bottom: 1rem ;
}
form input{
    border-radius: 5px ;
    border: 1px solid #ccc;
    padding: 0.8rem;
}
.input_check {
    display: flex;
    gap: 0.5rem;
}
form input[type="submit"]{
    padding: 10px 20px ;
    background-color: #e63d27;
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 auto;
}
.boxGeral{
    padding: 5rem;
    background-color: ;
    margin-top: 4rem;
}
.boxP1{
    display: flex ;
    justify-content: space-between;
}
.boxP1 ul{
    list-style: none;
    text-align: left;
    color: #b1b8bb;
}
.boxP1 a{
    color: #a09c9c;
    text-decoration: none;
    line-height: 2rem;
}
.boxP1 .box4 .lojas{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding:0 ;
    border: #268dc6 solid;
}
.boxP1 .box4 .lojas img{
    width: 128px;
    padding: 0;
}
.boxP2 .logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxP2 .logos img{
width: 24px;
padding: 0 1rem;
}
.boxP2 .logos .linha1{
    width: 30%;
    border-bottom: 1px solid #000000;
}
.boxP2 .logos .linha2{
    width: 30%;
    border-bottom: 1px solid #000000;
}
.boxP3{
    border: solid ;
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.boxP3 .coluna1 img{
    width:64px;
}
.boxP3 .coluna1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #e63d27 solid;
}
.boxP3 .coluna1 cite{
    color: #a09c9c;
    text-align: left;
}
.boxP3 .coluna2{
    border: yellow solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxP3 .coluna2 img{
    width:128px;
    border: #f06829 solid;
}
.boxP3 .coluna2 p{
    border: #268dc6 solid;
    width: 350px;
    font-size: small;
    margin: 0;
}
.boxP3 .coluna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



